<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ModdingTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <ModdingTools.Properties.Settings>
            <setting name="AutoScanDownloadedMods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Memes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepConsoleOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultilangCook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </ModdingTools.Properties.Settings>
    </userSettings>
</configuration>
